@import 'tailwindcss';
@import 'tw-animate-css';


@custom-variant dark (&:is(.dark *));

:root {
  --font-sans: 'Satoshi', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --preview-background: #fff;

  --text-xxs: 0.5625rem;
  --radius: 0.625rem;
  --background: #fff;
  --foreground: #282828;
  --caption: #5d5d5d;
  --muted: #ECECEC;
  --muted-foreground: #8f8f8f;
  --border: #ededed;
  --card: #fff;
  --card-border: rgba(0, 0, 0, 0.1);

  --area-background: #f3f3f3;

  --accent: #0285ff;
  --accent-transparent: #0285ff60;
  --accent-soft: color-mix(in oklab, #0285ff 80%, transparent);
  --accent-foreground: #fff;
  --ring: #0169cc;

  --primary: #181818;
  --primary-foreground: #fff;
  --primary-hover: #505050;

  --secondary: #ECECEC;
  --secondary-foreground: #0d0d0d;
  --secondary-hover: color-mix(in oklab, #0d0d0d 12%, transparent);

  --input: #fafafa;
  --input-border: color-mix(in oklab, #0d0d0d 16%, transparent);
  --input-border-focus: color-mix(in oklab, #0d0d0d 35%, transparent);
  --input-shadow-focus: 0 0 0 1px var(--input-border-focus);
  --input-shadow-error: 0 0 0 1px var(--danger);
  --input-placeholder: #8f8f8f;

  --input-spacing-x: calc(var(--spacing) * 3);
  --input-spacing-y: calc(var(--spacing) * 1.5);

  --danger: #e02e2a;
  --danger-hover: #ba2623;
  --danger-foreground: #fff;
  --danger-soft: #ffd9d9;
  --danger-soft-foreground: #fa423a;

  --warning: color-mix(in oklab, #fb6a22 16%, transparent);
  --warning-foreground: #fb6a22  ;

  --success-soft: color-mix(in oklab, #04b84c 15%, transparent);
  --success-foreground: #00a240;

  --popover: #fff;

  --popover-shadow: 0 10px 15px -3px #0000001a,0 4px 6px -4px #0000001a;
  --popover-shadow-hairline: 0 0 0 .5px #0000001a;

}

.dark {

  --preview-background: #111;
  --background: #212121;
  --foreground: #dcdcdc;
  --caption: #afafaf;
  --muted: #3C3C3C;
  --muted-foreground: #8f8f8f;
  --border: color-mix(in oklab, #fff 12%, transparent);
  --card: #303030;
  --card-border: rgba(0, 0, 0, 0.36);

  --area-background: #303030;

  --accent: #0285ff;
  --accent-transparent: #0285ff60;
  --accent-soft: color-mix(in oklab, #0285ff 50%, transparent);

  --ring: #0285ff;

  --primary: #F3F3F3;
  --primary-foreground: #0d0d0d;
  --primary-hover: #cdcdcd;

  --secondary: #3C3C3C;
  --secondary-foreground: #fff;
  --secondary-hover: color-mix(in oklab, #fff 16%, transparent);

  --input: #303030;
  --input-border: color-mix(in oklab, #fff 25%, transparent);
  --input-border-focus: color-mix(in oklab, #fff 35%, transparent);
  --input-shadow-focus: 0 0 0 1px var(--input-border-focus);

  --popover: #303030;
  --popover-shadow: 0 10px 15px -3px #0003,0 4px 6px -4px #0003;
  --popover-shadow-hairline: 0 0 0 .5px #ffffff1f;


}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  --color-card-border: var(--card-border);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-caption: var(--caption);

  --color-area-background: var(--area-background);


  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-transparent: var(--accent-transparent);
  --color-danger: var(--danger);
  --color-danger-hover: var(--danger-hover);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-input-border-focus: var(--input-border-focus);
  --color-input-shadow-focus: var(--input-shadow-focus);
  --color-input-placeholder: var(--input-placeholder);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-layer: var(--layer);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-popover: var(--popover-shadow), var(--popover-shadow-hairline);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --text-xxs: var(--text-xxs);
}

@layer base {
  * {
    /* @apply border-border; */
  }

  body {
    @apply font-sans;
    /* @apply antialiased; */
    @apply min-h-screen;
    @apply bg-background text-foreground;
  }

  #root {
    @apply min-h-screen;
  }
}

/* @utility interactive-focus {
  @apply focus-visible:ring-1 focus-visible:ring-focus-outline focus-visible:border-focus-outline;
}

@utility interactive-invalid-input {
  @apply aria-invalid:ring-destructive-fg aria-invalid:border-destructive-fg aria-invalid:bg-destructive-bg;
}

@utility interactive-focus-input {
  @apply focus-within:ring-1 focus-within:ring-focus-outline  focus-within:border-focus-outline;
} */

@layer components {
  /* .label {
    @apply text-sm font-medium ;
  } */

  /* .label-sm {
    @apply text-xs font-normal;
  } */

  /* .legend {
    @apply text-xs font-semibold  h-6 inline-flex items-center ml-1.5;
  } */
}

.preview-background {
  background: linear-gradient(90deg, var(--preview-background) 14px, transparent 1%) 50%, linear-gradient(var(--preview-background) 14px, transparent 1%) 50%, var(--color-border);
  background-size: 16px 16px;
  background-position: 8px 8px;
}


  .legend {
    float: left;
    font-size: var(--text-xs);
    font-weight: 600;
    color: var(--caption);
    letter-spacing: var(--tracking-tight);
    line-height: 1;
    /* margin-block-start: calc(var(--spacing) * 1.5); */
  }


  .field-group {
    margin-block-end: calc(var(--spacing) * 0.5);

    &:not(:has(.field-description)) {
      margin-block-end: 0;
    }
  }
  .field-label {
    height: calc(var(--spacing) * 6);
    display: flex;
    align-items: center;
    margin-inline-start: var(--input-spacing);
    font-size: var(--text-xs);
    line-height: 20px;
    color: var(--foreground);
    font-weight: 500;
  }

  .field-description {
    font-size: var(--text-xs);
    line-height: 1.5;
    color: var(--caption);

  }

  .field-error {
    font-size: var(--text-xs);
    margin-inline-start: var(--input-spacing);
    margin-block-start: var(--spacing);
    color: var(--danger);
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 5);
    padding-inline: calc(var(--spacing) * 5);
    border-radius: var(--radius-sm);
    /* border: 1px solid var(--border); */
    background-color: var(--card);
    border: 1px solid var(--card-border);


    &.tight {
      padding-block: calc(var(--spacing) * 3);
      padding-inline: calc(var(--spacing) * 2.5);
    }

    &.no-padding {
      padding-block-start: calc(var(--spacing) * 3);
      padding-block-end: 0;
      padding-inline: 0;
      gap: 0;
      border-radius: 0;
      overflow: hidden;
      background-color: var(--layer);
    }
  }
