@import 'tailwindcss';
@import 'tw-animate-css';


@custom-variant dark (&:is(.dark *));

/* @theme inline {
  --font-sans:
    'Geist', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';


  --color-bg-primary: var(--background-primary);
  --color-bg-secondary: var(--background-secondary);
  --color-bg-surface: var(--background-surface);
  --color-bg-surface-inner: var(--background-surface-inner);
  --color-border: var(--border-primary);
  --color-border-surface: var(--border-surface);
  --color-accent: var(--accent);
  --color-input-bg: var(--input-background);
  --color-input-border: var(--input-border);
  --color-interactive-bg-primary: var(--interactive-primary);
  --color-interactive-bg-secondary: var(--interactive-secondary);
  --color-interactive-border: var(--interactive-border);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-destructive-bg: var(--destructive-bg);
  --color-destructive-fg: var(--destructive-fg);
  --color-accent-blue-bg: var(--accent-blue-background);
  --color-accent-blue-fg: var(--accent-blue-foreground);
  --color-accent-pink-bg: var(--accent-pink-background);
  --color-accent-pink-fg: var(--accent-pink-foreground);
  --color-accent-green-bg: var(--accent-green-background);
  --color-accent-green-fg: var(--accent-green-foreground);
  --color-accent-yellow-bg: var(--accent-yellow-background);
  --color-accent-yellow-fg: var(--accent-yellow-foreground);
  --color-accent-purple-bg: var(--accent-purple-background);
  --color-accent-purple-fg: var(--accent-purple-foreground);
  --color-accent-orange-bg: var(--accent-orange-background);
  --color-accent-orange-fg: var(--accent-orange-foreground);

  --color-background-card-start: var(--background-card-start);
  --color-background-card-end: var(--background-card-end);
  --color-border-card: var(--border-card);

  --color-shadow-card: var(--shadow-card);
  --color-shadow-input: var(--shadow-input);

  --color-focus-outline: oklch(0.9119 0.2159 119.9);
  --color-highlight: var(--highlight);
  --color-highlight-bg: --alpha(var(--highlight-bg) / 0.6);


  --text-xs: var(--text-size-xs);
  --text-sm: var(--text-size-sm);
  --text-md: var(--text-size-md);
  --text-lg: var(--text-size-lg);
  --text-xl: var(--text-size-xl);
  --text-2xl: var(--text-size-2xl);
  --text-3xl: var(--text-size-3xl);
  --text-4xl: var(--text-size-4xl);
  --text-5xl: var(--text-size-5xl);

  --radius-input: var(--input-radius);
  --radius-button: var(--button-radius);
  --radius-frame: var(--frame-radius);

  --color-button-bg: var(--button-bg);
  --color-button-border: var(--button-border);
  --color-button-shadow: var(--button-shadow);
  --color-button-text: var(--button-text);
  --color-button-bg-secondary: var(--button-bg-secondary);
  --color-button-border-secondary: var(--button-border-secondary);
  --color-button-shadow-secondary: var(--button-shadow-secondary);
  --color-button-text-secondary: var(--button-text-secondary);

  --color-accent-foreground: var(--accent-foreground);
}

:root {

  --background-primary: #f7f7f7;
  --background-secondary: #fafafa;
  --background-surface: #fff;
  --background-surface-inner: #262626;

  --accent: #028922;
  --accent-hover: #028922;
  --accent-foreground: #141414;


  --background-card-start: #212123;
  --background-card-end: #1B1B1D;
  --border-card: #212123;


  --border-primary: #ededed;
  --border-surface: #ededed;


  --input-background: #f1f1f1;
  --input-border: #e9e9e9;


  --interactive-primary: #f1f1f1;
  --interactive-secondary: #fff;
  --interactive-border: #434343;

  --button-bg: #f1f1f1;
  --button-border: #DFDFDF;
  --button-shadow: #FFFFFF75;
  --button-text: #161616;
  --button-text-secondary: #E4E4E4;
  --button-bg-secondary: #161616;
  --button-border-secondary: #8B8B8B;
  --button-shadow-secondary: #8E8E8E;

  --shadow-card: #a6a6a62e;
  --shadow-input: #ebebeb;


  --text-primary: #141414;
  --text-secondary: #7a7a7a;
  --text-muted: #787878;

  --destructive-bg: #1d0d0c;
  --destructive-fg: #e94136;

  --highlight: #5398ff;
  --highlight-bg: #17296c;
  --highlight-transparent: #5398ff60;


  --accent-blue-background: #121f27;
  --accent-blue-foreground: #75cadf;
  --accent-pink-background: #2e0a16;
  --accent-pink-foreground: #cb7da4;
  --accent-green-background: #0D280A;
  --accent-green-foreground: #88c993;
  --accent-yellow-background: #2b2308;
  --accent-yellow-foreground: #f2c840;
  --accent-purple-background: #1c1424;
  --accent-purple-foreground: #b484e7;
  --accent-orange-background: #1f110e;
  --accent-orange-foreground: #cd8c56;


  --text-size-xs: 0.6875rem;
  --text-size-sm: 0.75rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.5rem;
  --text-size-2xl: 1.75rem;
  --text-size-3xl: 2rem;
  --text-size-4xl: 2.25rem;
  --text-size-5xl: 2.5rem;

  --input-radius: 0.35rem;
  --button-radius: 99999px;
  --frame-radius: 0.5rem;
}

.dark {

  --background-primary: #111;
  --background-secondary: #161616;
  --background-surface: #1F1F1F;
  --background-surface-inner: #262626;

  --accent: #8ffb89;

  --background-card-start: #212123;
  --background-card-end: #1B1B1D;
  --border-card: #212123;


  --border-primary: #232323;
  --border-surface: #2d2d2d;


  --input-background: #343434;
  --input-border: #3f3f3f;


  --interactive-primary: #343434;
  --interactive-secondary: #222222;
  --interactive-border: #434343;


  --text-primary: #cfcfcf;
  --text-secondary: #8f8f8f;
  --text-muted: #919191;

  --shadow-card: #13131326;
  --shadow-input: #3b3b3b;

  --button-bg-secondary: #0C0C0C;
  --button-border-secondary: #323232;
  --button-shadow-secondary: #3E3E3E;
} */

:root {
  --preview-background: #fff;
  --background: oklch(0.95 0 0);
  --foreground: oklch(0.1450 0 0);
  --tone: var(--foreground);
  --card: oklch(0.99 0 0);
  --card-foreground: oklch(0.1913 0 0);
  --card-border: oklch(0.9461 0 0);
  --card-shadow: oklch(0.7252 0 0 / 20%);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1450 0 0);
  --primary: oklch(0.7680 0.2330 130.8500);
  --primary-foreground: oklch(0.3657 0.072 132.109);
  --secondary: oklch(0.8700 0 0);
  --secondary-foreground: oklch(0.2050 0 0);
  --muted: oklch(0.9700 0 0);
  --muted-foreground: oklch(0.61 0 0);
  --accent: oklch(0.8568 0.0297 153.2744);
  --accent-foreground: oklch(0.1913 0 0);
  --destructive: oklch(0.64 0.24 25.14);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9037 0 0);
  --input: oklch(0.94 0 0);
  --input-selected: oklch(0.80 0 0);
  --input-selected-foreground: oklch(0.44 0 0);
  --layer: oklch(0.9985 0 0);
  --input-border: oklch(0.89 0 0);
  --ring: oklch(0.7080 0 0);
  --chart-1: oklch(0.8100 0.1000 252);
  --chart-2: oklch(0.6200 0.1900 260);
  --chart-3: oklch(0.5500 0.2200 263);
  --chart-4: oklch(0.4900 0.2200 264);
  --chart-5: oklch(0.4200 0.1800 266);
  --sidebar: oklch(0.9850 0 0);
  --sidebar-foreground: oklch(0.1450 0 0);
  --sidebar-primary: oklch(0.2050 0 0);
  --sidebar-primary-foreground: oklch(0.9850 0 0);
  --sidebar-accent: oklch(0.9700 0 0);
  --sidebar-accent-foreground: oklch(0.2050 0 0);
  --sidebar-border: oklch(0.9220 0 0);
  --sidebar-ring: oklch(0.7080 0 0);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;

  --text-xxs: 0.6125rem;

  --input-spacing: calc(var(--spacing) * 1.5);

  --highlight: oklch(0.623 0.214 259.815);
  --highlight-transparent: oklch(0.623 0.214 259.815 / 50.43%);
  --highlight-button: #fff;
}

.dark {
  --preview-background: #111;
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2393 0 0);
  --card-foreground: oklch(0.9461 0 0);
  --card-border: oklch(0.2972 0 0);
  --card-shadow: oklch(0.1867 0 0 / 26%);
  --popover: oklch(0.2690 0 0);
  --popover-foreground: oklch(0.9850 0 0);
  --primary: oklch(0.8410 0.2380 128.8500);
  --primary-foreground: oklch(0.9197 0.072 132.109);
  --secondary: oklch(0.3710 0 0);
  --secondary-foreground: oklch(0.9850 0 0);
  --muted: oklch(0.2690 0 0);
  --muted-foreground: oklch(0.7080 0 0);
  --accent: oklch(0.3587 0.0229 142.6208);
  --accent-foreground: oklch(0.9581 0 0);
  --destructive: oklch(0.37 0.16 28.55);
  --destructive-foreground: oklch(0.9850 0 0);
  --border: oklch(0.3012 0 0);
  --input: oklch(0.3012 0 0);
  --input-selected: oklch(0.4 0 0);
  --input-selected-foreground: oklch(0.9850 0 0);
  --layer: oklch(0.25 0 0);
  --input-border: oklch(0.3677 0 0);
  --ring: oklch(0.5560 0 0);
  --chart-1: oklch(0.8100 0.1000 252);
  --chart-2: oklch(0.6200 0.1900 260);
  --chart-3: oklch(0.5500 0.2200 263);
  --chart-4: oklch(0.4900 0.2200 264);
  --chart-5: oklch(0.4200 0.1800 266);
  --sidebar: oklch(0.2050 0 0);
  --sidebar-foreground: oklch(0.9850 0 0);
  --sidebar-primary: oklch(0.4880 0.2430 264.3760);
  --sidebar-primary-foreground: oklch(0.9850 0 0);
  --sidebar-accent: oklch(0.2690 0 0);
  --sidebar-accent-foreground: oklch(0.9850 0 0);
  --sidebar-border: oklch(0.2750 0 0);
  --sidebar-ring: oklch(0.4390 0 0);
  --font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-layer: var(--layer);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    /* @apply border-border; */
  }

  body {
    @apply font-sans;
    /* @apply antialiased; */
    @apply min-h-screen;
    @apply bg-background text-foreground;
  }

  #root {
    @apply min-h-screen;
  }
}

/* @utility interactive-focus {
  @apply focus-visible:ring-1 focus-visible:ring-focus-outline focus-visible:border-focus-outline;
}

@utility interactive-invalid-input {
  @apply aria-invalid:ring-destructive-fg aria-invalid:border-destructive-fg aria-invalid:bg-destructive-bg;
}

@utility interactive-focus-input {
  @apply focus-within:ring-1 focus-within:ring-focus-outline  focus-within:border-focus-outline;
} */

@layer components {
  /* .label {
    @apply text-sm font-medium ;
  } */

  /* .label-sm {
    @apply text-xs font-normal;
  } */

  /* .legend {
    @apply text-xs font-semibold  h-6 inline-flex items-center ml-1.5;
  } */
}

.preview-background {
  background:
    linear-gradient(90deg, var(--preview-background) 14px, transparent 1%) 50%,
    linear-gradient(var(--preview-background) 14px, transparent 1%) 50%,
    var(--color-border);
  background-size: 16px 16px;
  background-position: 8px 8px;
}


  .legend {
    float: left;
    font-size: var(--text-xs);
    font-weight: 600;
    color: var(--muted-foreground);
    /* letter-spacing: var(--tracking-wide); */
    line-height: 1;
    margin-inline-start: var(--input-spacing);
    /* margin-block-start: calc(var(--spacing) * 1.5); */
  }

  .field-label {
    height: calc(var(--spacing) * 6);
    display: flex;
    align-items: center;
    margin-inline-start: var(--input-spacing);
    font-size: var(--text-xs);
    line-height: 1;
    color: var(--muted-foreground);
  }

  .field-description {
    font-size: var(--text-xs);
    line-height: 1.5;
    margin-inline-start: var(--input-spacing);
    margin-block-start: var(--spacing);
    color: var(--muted-foreground);
  }

  .field-error {
    font-size: var(--text-xs);
    margin-inline-start: var(--input-spacing);
    margin-block-start: var(--spacing);
    color: var(--destructive);
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 5);
    padding-inline: calc(var(--spacing) * 4);
    border-radius: var(--radius-lg);
    border: 1px solid var(--border);
    background-color: var(--card);


    &.tight {
      padding-block: calc(var(--spacing) * 3);
      padding-inline: calc(var(--spacing) * 2.5);
    }

    &.no-padding {
      padding-block-start: calc(var(--spacing) * 3);
      padding-block-end: 0;
      padding-inline: 0;
      gap: 0;
      border-radius: 0;
      overflow: hidden;
      background-color: var(--layer);
    }
  }
