node_modules
.DS_Store
dist
.turbo

# Vite cache files
vite.config.ts.timestamp-*
*.timestamp-*
.vite

apps/docs/.astro

*.tsbuildinfo

dist-electron/

.tanstack/
*storybook.log
storybook-static

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

apps/playground/supabase/.temp

# Next.js
.next
next-env.d.ts
out