.number-input-group {
  display: flex;
  align-items: center;
  border-radius: var(--radius-md);
  background-color: var(--input);
  width: 100%;
  color: var(--foreground);
  border: 1px solid var(--input-border);

  &:has(> input[aria-invalid='true']) {
    border-color: var(--danger);
  }

  &:focus-within {
    border-color: var(--input-border-focus);
    box-shadow: var(--input-shadow-focus);
  }
}

.number-input-scrub-area-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-inline-start: calc(var(--spacing) * 3);
  margin-inline-end: calc(var(--spacing) * 2);

  /* &.sm {
    width: calc(var(--spacing) * 6);
  } */
}

.number-input-scrub-area {
  cursor: ew-resize;
  svg:not([class*='size-']) {
    width: calc(var(--spacing) * 3.5);
    color: var(--foreground);
  }
}

.number-input-scrub-area-cursor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: calc(var(--spacing) * 3);
  color: var(--text-secondary);

  &.sm {
    width: calc(var(--spacing) * 3.5);
  }
}

.number-input-input {
  color: var(--foreground);
  font-variant-numeric: tabular-nums;
  min-width: calc(var(--spacing) * 8);
  width: 100%;
  flex: 1;
  flex-shrink: 0;
  height: calc(var(--spacing) * 9);
  font-size: var(--text-sm);

  &:focus {
    outline: none;
    z-index: 1;
  }

  &.sm {
    height: calc(var(--spacing) * 8);
    font-size: var(--text-xs);
  }
}

.number-input-controls {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 0.5);
  padding-inline-end: calc(var(--spacing) * 1.5);
}

.number-input-control {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid color-mix(in srgb, var(--input-border) 70%, var(--tone));
  border-radius: 9999px;
  background-color: var(--secondary);
  padding: calc(var(--spacing) * 0.5);
  background-clip: padding-box;
  color: var(--secondary-foreground);
  user-select: none;

  &:hover {
    background-color: var(--secondary-hover);
  }

  &:active {
    background-color: var(--input-bg-active);
  }
}

.number-input-unit-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(var(--spacing) * 2);
  user-select: none;
  height: calc(var(--spacing) * 9);
  /* min-width: calc(var(--spacing) * 16); */
  font-size: var(--text-sm);
  padding-inline-start: calc(var(--spacing) * 1.5);
  padding-inline-end: var(--spacing);
  /* color: var(--muted-foreground); */

  &.sm {
    height: calc(var(--spacing) * 8);
    min-width: calc(var(--spacing) * 8);
    font-size: var(--text-xs);
  }
}

.number-input-unit-select-icon {
  display: flex;

  svg {
    color: var(--muted-foreground);
    width: calc(var(--spacing) * 3.5);
    height: calc(var(--spacing) * 3.5);
  }
}
