.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  white-space: nowrap;
  border-radius: var(--radius-sm);
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  flex-shrink: 0;
  outline: none;
  border: 1px solid transparent;
  font-weight: 300;

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid var(--ring);
    outline-offset: 2px;
  }

  svg {
    pointer-events: none;
    flex-shrink: 0;
  }

  svg:not([class*='size-']) {
    width: 1rem;
    height: 1rem;
  }

  &[aria-invalid='true'] {
    border: 1px solid var(--destructive);
  }
}

.button-rounded {
  border-radius: calc(infinity * 1px);
}

.button-default {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--primary-foreground);


  &:hover {
    background-color: var(--primary-hover);
  }
}

.button-destructive {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--danger-foreground);

  &:hover {
    background-color: var(--danger-hover);
  }
}

.button-outline {
  background-color: var(--background);
  border-color: var(--input-border);
  color: var(--foreground);


  &:hover {
    background-color: var(--secondary);
  }
}

.button-secondary {
  background-color: var(--secondary);
  color: var(--secondary-foreground);

  &:hover {
    background-color: var(--secondary-hover);
  }
}

.button-ghost {
  color: var(--foreground);
  &:hover {
    background-color: var(--secondary);
  }
}

.button-link {
  color: var(--foreground);
  font-weight: 500;
  /* text-decoration: underline; */
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;

  &:hover {
    text-decoration: underline;
  }
}

.button-color-picker {
  background-color: transparent;
  border-color: transparent;
  justify-content: start;
  padding-inline-start: 0 !important;
  height: calc(var(--spacing) * 8);
  letter-spacing: var(--tracking-tight);
  font-size: var(--text-sm);
  border-radius: 0;
  min-width: calc(var(--spacing) * 24);

  &:hover {
    background-color: color-mix(in srgb, var(--interactive-bg-primary) 60%, transparent);
  }

  &[aria-invalid='true'] {
    border: 1px solid transparent;
  }
}

.button-size-default {
  height: calc(var(--spacing) * 9);
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4.5);
  font-size: var(--text-sm);
}

.button-size-sm {
  height: calc(var(--spacing) * 8);
  padding: calc(var(--spacing) * 1.5) calc(var(--spacing) * 2.5);
  font-size: var(--text-xs);

  &:has(> svg) {
    padding-inline: calc(var(--spacing) * 2.5);
  }
}

.button-size-lg {
  height: calc(var(--spacing) * 12);
  padding: calc(var(--spacing) * 3) calc(var(--spacing) * 5);
  font-size: var(--text-sm);

  &:has(> svg) {
    padding-inline: calc(var(--spacing) * 4.5);
  }
}

.element-preview {
  background-color: var(--accent);
  color: white;
  border-radius: calc(infinity * 1px);
}