
  .stack {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: calc(var(--spacing) * 4);
    @media (width >= 40rem /* 640px */) {
      max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
      max-width: 48rem /* 768px */;
      padding-inline: calc(var(--spacing) * 6);
    }

    @media (width >= 64rem /* 1024px */) {
      max-width: 64rem /* 1024px */;
    }

    @media (width >= 80rem /* 1280px */) {
      max-width: 80rem /* 1280px */;
    }

    @media (width >= 96rem /* 1536px */) {
      max-width: 96rem /* 1536px */;
    }
  }
