.toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-sm);
  height: calc(100% - 1px);
  color: var(--caption);
  user-select: none;
  flex: 1;
  flex-shrink: 0;
  whitespace: nowrap;
  font-size: var(--text-xs);
  background-color: var(--background);
  border: 1px solid var(--input-border);
  color: var(--foreground);
  min-width: calc(var(--spacing) * 8);
  height: calc(var(--spacing) * 7);
  padding-inline: calc(var(--spacing) * 2);
  padding-block: var(--spacing);
  font-weight: 500;
  gap: calc(var(--spacing) * 1.5);

  &:focus-visible {
    outline: none;
    border-color: var(--ring);
    box-shadow: 0 0 0 2px var(--ring);
  }

  &:hover {
    background-color: var(--secondary);
    color: color-mix(in srgb, var(--foreground) 90%, transparent);
  }

  & > svg:not([class*='size-']) {
    width: calc(var(--spacing) * 4);
    height: calc(var(--spacing) * 4);
  }

  &[data-pressed] {
    background-color: var(--background);

    & > svg {
      color: var(--accent);
    }
  }

  .dark & {
    &[data-pressed] {
      border-color: var(--input-border);
      background-color: color-mix(in srgb, var(--background) 80%, transparent);
    }
  }
}