

  .dialog-backdrop {
    position: fixed;
    inset: 0;
    background-color: #000000;
    opacity: 0.5;
    transition: all 0.15s ease-in-out;
    z-index: 30000;


    &:[data-ending-style],
    &:[data-starting-style] {
      opacity: 0;
    }

    &:supports(-webkit-touch-callout:none) {
      position: absolute;
    }
  }

  .dialog {
    background-color: var(--card);
    border: 1px solid var(--card-border);
    border-radius: var(--radius-sm);
    padding-block: calc(var(--spacing) * 5);
    padding-inline: calc(var(--spacing) * 5);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    width: calc(100% - 2rem);
    gap: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 5);
    padding-inline: calc(var(--spacing) * 4);
    z-index: 30001;
    outline: none;

    @media (width >= 40rem) {
      max-width: var(--container-2xl);
    }

    &:[data-ending-style] {
      animation: fade-out 0.15s ease-in-out;
    }

    &:[data-starting-style] {
      animation: fade-in 0.15s ease-in-out;
    }


  }

  .dialog-title {
    font-size: var(--text-lg);
    font-weight: 500;
    color: var(--foreground);
  }

  .dialog-description {
    font-size: var(--text-sm);
    color: var(--caption);
    max-width: 60ch;

    &:has(+ *) {
      margin-block-end: calc(var(--spacing) * 4);
    }
  }
