.textarea {
  border-radius: var(--radius-md);
  border: 1px solid var(--input-border);
  padding-inline: var(--input-spacing-x);
  padding-block: var(--input-spacing-y);
  font-size: var(--text-sm);
  background-color: var(--input);
  min-width: calc(var(--spacing) * 8);
  min-height: calc(var(--spacing) * 7.5);
  scrollbar-gutter: stable;

  &.small {
    min-height: calc(var(--spacing) * 8);
    padding-inline-start: calc(var(--spacing) * 2.5);
    padding-inline-end: calc(var(--spacing) * 2);
    font-size: var(--text-xs);
  }

  &::selection {
    background-color: var(--primary);
    color: var(--primary-foreground);
  }


  &:placeholder {
    color: var(--input-placeholder);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:focus-visible {
    border-color: var(--input-border-focus);
    box-shadow: var(--input-shadow-focus);
    outline: none;
  }

  &[aria-invalid="true"] {
    border-color: var(--destructive);

  }
}