.color-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: calc(var(--spacing) * 72);

}

.color-input-label {
  height: calc(var(--spacing) * 6);
  display: flex;
  align-items: center;
  margin-inline-start: var(--input-spacing);
  font-size: var(--text-xs);
  line-height: 1;
  color: var(--muted-foreground);
}

.color-input-input {
  width: 100%;
  min-width: 0;
  color: var(--foreground);
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  height: calc(var(--spacing) * 9);
  border-radius: var(--radius-md);
  border: 1px solid var(--input-border);
  padding-inline: var(--input-spacing-x);
  padding-block: var(--input-spacing-y);
  font-size: var(--text-sm);
  background-color: var(--input);

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }

  &::placeholder {
    color: var(--input-placeholder);
  }

  & > input {
    width: 1px;
    outline: none;
  }

  &:has(+ input:focus-visible) {
    border-color: var(--input-border-focus);
    box-shadow: var(--input-shadow-focus);
  }

  &:has(+ input[aria-invalid="true"]) {
    border-color: var(--danger);
    box-shadow: var(--input-shadow-error);
  }

  &.color-input-input-with-icon {
    padding-inline-start: 0;
  }
}

.color-input-input-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: var(--muted-foreground);
    width: calc(var(--spacing) * 3.5);
    height: calc(var(--spacing) * 3.5);
    margin-inline-start: calc(var(--spacing) * 3);
  margin-inline-end: calc(var(--spacing) * 2);
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
}

.color-picker-swatch {
  width: calc(var(--spacing) * 4);
  height: calc(var(--spacing) * 4);
}

.color-picker-content {
  background-color: var(--card);
  border: 1px solid var(--card-border);
}

.color-picker-actions-wrapper {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing) * 2);
}

.color-picker-slider-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: calc(var(--spacing) * 2);
}