@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Theme Colors */
  --color-bg-primary: var(--background-primary);
  --color-bg-secondary: var(--background-secondary);
  --color-bg-surface: var(--background-surface);
  --color-bg-surface-inner: var(--background-surface-inner);
  --color-border: var(--border-primary);
  --color-border-surface: var(--border-surface);
  --color-input-bg: var(--input-background);
  --color-input-border: var(--input-border);
  --color-interactive-bg-primary: var(--interactive-primary);
  --color-interactive-bg-secondary: var(--interactive-secondary);
  --color-interactive-border: var(--interactive-border);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-destructive-bg: var(--destructive-bg);
  --color-destructive-fg: var(--destructive-fg);
  --color-accent-blue-bg: var(--accent-blue-background);
  --color-accent-blue-fg: var(--accent-blue-foreground);
  --color-accent-pink-bg: var(--accent-pink-background);
  --color-accent-pink-fg: var(--accent-pink-foreground);
  --color-accent-green-bg: var(--accent-green-background);
  --color-accent-green-fg: var(--accent-green-foreground);
  --color-accent-yellow-bg: var(--accent-yellow-background);
  --color-accent-yellow-fg: var(--accent-yellow-foreground);
  --color-accent-purple-bg: var(--accent-purple-background);
  --color-accent-purple-fg: var(--accent-purple-foreground);
  --color-accent-orange-bg: var(--accent-orange-background);
  --color-accent-orange-fg: var(--accent-orange-foreground);

  --color-focus-outline: oklch(0.9119 0.2159 119.9);
  --color-highlight: var(--highlight);
  --color-highlight-bg: --alpha(var(--highlight-bg) / 0.6);

  /* Text Sizes */
  --text-xs: var(--text-size-xs);
  --text-sm: var(--text-size-sm);
  --text-md: var(--text-size-md);
  --text-lg: var(--text-size-lg);
  --text-xl: var(--text-size-xl);
  --text-2xl: var(--text-size-2xl);
  --text-3xl: var(--text-size-3xl);
  --text-4xl: var(--text-size-4xl);
  --text-5xl: var(--text-size-5xl);


  --radius-input: var(--input-radius);
  --radius-button: var(--button-radius);
  --radius-frame: var(--frame-radius);
}

:root {
  /* Colors for backgrounds */
  --background-primary: #F6F6F6;
  --background-secondary: #fafafa;
  --background-surface: #fff;
  --background-surface-inner: #262626;

  /* Colors for borders */
  --border-primary: #F9F9F9;
  --border-surface: #ececec;

  /* Colors for input components */
  --input-background: oklch(96% 0 0);
  --input-border: #434343;

  /* Colors for Interactive elements */
  --interactive-primary: #262626;
  --interactive-secondary: #151515;
  --interactive-border: #434343;

  /* Colors for text */
  --text-primary: #333;
  --text-secondary: #666;
  --text-muted: #666666;

  --destructive-bg: #1D0D0C;
  --destructive-fg: #E94136;

  --highlight: #5398FF;
  --highlight-bg: #17296C;
  --highlight-transparent: #5398FF60;

  /* Colors for Accents */
  --accent-blue-background: #121F27;
  --accent-blue-foreground: #75CADF;
  --accent-pink-background: #2E0A16;
  --accent-pink-foreground: #CB7DA4;
  --accent-green-background: #101A0F;
  --accent-green-foreground: #88C993;
  --accent-yellow-background: #2B2308;
  --accent-yellow-foreground: #F2C840;
  --accent-purple-background: #1C1424;
  --accent-purple-foreground: #B484E7;
  --accent-orange-background: #1F110E;
  --accent-orange-foreground: #CD8C56;

  /* Text Sizes */
  --text-size-xs: 0.6875rem;
  --text-size-sm: 0.75rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.25rem;
  --text-size-xl: 1.5rem;
  --text-size-2xl: 1.75rem;
  --text-size-3xl: 2rem;
  --text-size-4xl: 2.25rem;
  --text-size-5xl: 2.5rem;

  --input-radius: 0.35rem;
  --button-radius: 0.25rem;
  --frame-radius: 0.5rem;
}

.dark {
    /* Colors for backgrounds */
    --background-primary: #0A0A0A;
    --background-secondary: #171717;
    --background-surface: #181818;
    --background-surface-inner: #262626;

    /* Colors for borders */
    --border-primary: #232323;
    --border-surface: #303030;

    /* Colors for input components */
    --input-background: #262626;
    --input-border: #434343;

    /* Colors for Interactive elements */
    --interactive-primary: #262626;
    --interactive-secondary: #151515;
    --interactive-border: #434343;

    /* Colors for text */
    --text-primary: #F9F9F9;
    --text-secondary: #9C9C9C;
    --text-muted: #666666;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-bg-primary text-text-primary font-sans;
  }

  body {
    @apply font-sans;
    /* @apply antialiased; */
    @apply min-h-screen;
  }

  #root {
    @apply min-h-screen;
  }
}

@utility interactive-focus {
  @apply focus-visible:ring-1 focus-visible:ring-focus-outline focus-visible:border-focus-outline;
}

@utility interactive-invalid-input {
  @apply aria-invalid:ring-destructive-fg aria-invalid:border-destructive-fg aria-invalid:bg-destructive-bg;
}

@utility interactive-focus-input {
  @apply focus-within:ring-1 focus-within:ring-focus-outline  focus-within:border-focus-outline;
}

@layer components {
  .label {
    @apply text-sm font-medium text-text-secondary;
  }

  .label-sm {
    @apply text-xs text-text-secondary font-normal;
  }

  .legend {
    @apply text-xs font-semibold text-text-secondary h-6 inline-flex items-center ml-1.5;
  }
}

.preview-background {
  background: linear-gradient(90deg, var(--background-secondary) 14px, transparent 1%) 50%, linear-gradient(var(--background-secondary) 14px, transparent 1%) 50%, var(--border-primary);
    background-size: 16px 16px;
    background-position: 8px 8px;
}
